$bgColor: #faf8ef;
$textColor: #776E65;
$brightTextColor: #f9f6f2;
$restartColor: #8f7a66;

html, body {
  background: $bgColor;
  color: $textColor;
}

.header {
  margin: 1rem auto;
  width: 36%;
  display: flex;
  justify-content: center;

  .header-left {
    h1 {
      font-weight: 700;
      font-size: 3rem;
    }

    .game-rules {
      span {
        font-weight: bold;
      }
    }
  }

  .header-right {
    position: relative;
    width: 4rem;
    color: $brightTextColor;

    .score {
      text-align: center;
      background: rgb(187, 173, 160);
      font-weight: bold;
      border-radius: 0.2rem;

      &::before {
        content: 'score';
        display: block;
        font-size: 0.6rem;
        color: #eee4da;
      }
    }

    .game-start {
      position: absolute;
      bottom: 0;
      box-sizing: border-box;
      padding: 0.2rem 0.5rem;
      border-radius: 0.2rem;
      background: $restartColor;
      cursor: pointer;
    }
  }
}

.main {
  width: 21rem;
  margin: 0 auto;

  .grid-container {
    background: #bbada0;
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: repeat(4, 4rem);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    padding: 1rem;
    border-radius: 0.2rem;

    .grid-item {
      background: rgba(238, 228, 218, 0.35);
    }
  }
}